<section class="sobre">
    <div class="container">
        <section class="fundacao">
            <div class="row">
                <div class="col-12">
                    <h3>FUNDAÇÃO</h3>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div><img class="fundacao-img" src="assets/predio.jpg" alt=""></div>
                </div>
                <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <p class="text-centre">Fundada no ano de 1996, pelo Eletricista Francisco Divino Cordeiro e Silva, graduado pela UNESP - Universidade Estadual Paulista, a empresa foi criada para atender as necessidades do mercado, com o intuito de fornecer projetos e serviços na área de instalações elétricas em baixa e média tensão em São Paulo.</p>
                </div>
            </div>
        </section>

        <section class="sobre-nos">
            <div class="row">
                <div class="col-12">
                    <h3>SOBRE NÓS</h3>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div><img class="sobre-nos-img" src="assets/lampada.jpg" alt=""></div>
                </div>
                <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <p class="text-centre">Com mais de 25 anos de experiência e atuação, abrangendo as áreas de instalações e projetos elétricos, nos segmentos de construção civil, residencial, comercial, industrial e de serviços. Atendemos todo o Estado de São Paulo na área de instalações elétricas e, todo o Brasil na área de execução de projetos e laudos. </p>
                </div>
            </div>
        </section>

        <section class="equipe">
            <div class="row">
                <div class="col-12">
                    <h3>EQUIPE</h3>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div><img class="equipe-img" src="assets/equipe.jpg" alt=""></div>
                </div>
                <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    <p class="text-centre">Contamos com uma equipe de profissionais qualificados, certificados e treinados para atender as necessidades de nossos clientes, com cordialidade, competência e profissionalismo. Dessa forma garantindo a qualidade de serviço prestado há 25 anos.</p>
                </div>
            </div>
        </section>

        

    </div>
    <br><br>
</section>
