<section class="laudos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <h2 class="fonte-color">PROJETOS E LAUDOS ELÉTRICOS</h2>
            </div>
        </div>

        <section class="projetos">
            <div class="row">
                <div class="col-12">
                    <h3>PROJETOS ELÉTRICOS COMPLETOS:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-12 col-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p><b>Projetos em baixa tensão:</b> Desde projetos completos para construções residenciais, como projetos para empresas, comércios e indústrias.</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p><b>Projetos para SPDA:</b> Projetos completos para sistemas de proteção contra descargas atmosférica (SPDA)</p>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p><b>Projetos em média tensão:</b> Projetos de cabine primária e redes de distribuição em média tensão.</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p><b>Projetos de geradores:</b> Projetos para implantação de grupos geradores.</p>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p><b>Projetos de entrada de energia:</b> Projetos para entrada de energia, em baixa e média tensão, com entrada do pedido junto a companhia fornecedora de energia elétrica em sua região.</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p><b>Projetos de rede e comunicação:</b> Projetos completos para o sistema de lógica, CFTV, telefonia e interfonia.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <section class="laudos-tecnicos">
            <div class="row">
                <div class="col-12">
                    <h3>LAUDOS TÉCNICOS:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-12 col-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p><b>NR-10:</b> Inspecionamos todas as instalações elétricas em baixa e média tensão do cliente, apontando todas as adequações e correções necessárias para atendimento na totalidade da norma NR-10. Temos equipes para realizar todas as adequações necessárias para atendimento à NR-10, deixando as instalações do cliente e documentações necessárias, em acordo com a legislação vigente.</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p><b>Bombeiros (AVCB):</b> Inspecionamos as instalações elétricas do cliente, apontando possíveis irregularidades que impossibilitem a emissão do documento Anexo K para obtenção do Auto de Vistoria do Corpo de Bombeiros (AVCB). Contamos com parcerias com profissionais de outras áreas para atender totalmente nossos clientes, para obtenção do AVCB, centralizando a contratação destes laudos / serviços.</p>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p><b>SPDA (Sistema de proteção contra descargas atmsféricas):</b> Realizamos a inspeção visual de todos os componentes do sistema de proteção contra descargas atmosféricas do cliente, apontando eventuais irregularidades. Efetuamos medições das resistências das malhas de aterramento. Nossa equipe especializada executa as correções necessárias para o correto funcionamento deste sistema.</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <p><b>Cabines primárias:</b> Realizamos a inspeção visual de todos os componentes instalados nestas cabines,  apontando eventuais irregularidades. Efetuamos todas as medições e laudos para verificar as condições dos equipamentos instalados nestas cabines, como laudo da resistência de aterramento, laudo da resistência de contatos (microohmímetro), laudo da parametrização de relés, teste de funcionamento dos relés de proteção (caixa de testes de relés), teste da resistência de isolamento de equipamentos (Megger) e teste da relação de transformação em transformadores de potência (TTR).</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <br>
    </div>
    <br><br>
</section>
