<section class="instala-baixo">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <h2 class="fonte title">INSTALAÇÕES ELÉTRICAS EM BAIXA E MÉDIA TENSÃO E PARA RAIOS (SPDA)</h2>
            </div>
        </div>

        <section class="instalacoes-tipos">
            <div class="row fundo-img3 margem">
                <div class="col-9 col-xl-9 col-lg-9 col-md-12">
                    <h3>INSTALAÇÕES EM BAIXA TENSÃO:</h3>
                    <ul>
                        <li>Instalações elétricas em baixa tensão para residências;</li>
                        <li>Instalações elétricas em baixa tensão para empresas comerciais;</li>
                        <li>Instalações elétricas em baixa tensão para indústrias;</li>
                        <li>Instalações elétricas em baixa tensão para áreas rurais e empresas de serviços;</li>
                        <li>Montagens de entradas de energia elétrica e quadros de medição;</li>
                        <li>Adequações em instalações elétricas para atender à norma NR-10 e NBR-5410, para obtenção de AVCB;</li>
                    </ul>

                </div>
                <div class="col-3 col-xl-3">
                    <img class="instalacoes-img" src="assets/l4.webp" alt="">
                </div>
            </div>
            <div class="row fundo-img3 margem">
                
                <div class="col-9 col-xl-9 col-lg-9 col-md-12">
                    <h3>INSTALAÇÕES EM MÉDIA TENSÃO:</h3>
                    <ul>
                        <li>Montagens de cabines de transformação, proteção e medição em média tensão;</li>
                        <li>Montagens de entrada de energia com transformador em poste singelo, em média tensão;</li>
                        <li>Montagens de ramais de entrada de energia em média tensão, subterrâneos, com muflas;</li>
                        <li>Manutenção preventiva e corretiva em cabines e entradas de energia em média tensão, com análise do óleo isolante em laboratórios especializados;</li>
                        <li>Execução de ramais e redes aéreas em média tensão;</li>
                    </ul>

                </div>
                <div class="col-3 col-xl-3 col-lg-3">
                    <img class="instalacoes-img" src="assets/l5.webp" alt="">
                </div>
                
            </div>
            <div class="row fundo-img3 margem">
                <div class="col-9 col-xl-9 col-lg-9 col-md-12">
                    <h3>SISTEMAS SPDA (PARA RAIOS):</h3>
                    <ul>
                        <li>Montagem de sistemas de proteção contra descargas atmosféricas - SPDA, tipo Gaiola de Faraday ou Franklin;</li>
                        <li>Execução de malhas de aterramento para equipamentos e SPDA;</li>
                        <li>Manutenção corretiva em sistemas de proteção contra descargas atmosféricas existentes;</li>
                        <li>Medições de resistência de aterramento de malhas;</li>
                        <li>Laudos técnicos sobre condições de sistemas de proteção contra descargas atmosféricas;</li>
                    </ul>

                </div>
                <div class="col-3 col-xl-3 col-lg-3">
                    <img class="instalacoes-img" src="assets/l6.webp" alt="">
                </div>
            </div>


        </section>
    </div>
    <br><br>
</section>

