<section class="pagina-inicial">
    <div class="container">
        <div class="row fonte-color">
            <div class="col-12">
                <h1 class="pagina-inicial-title">FD Instalações Eletrica</h1>
                <h3 class="pagina-inicial-title">Solução total em eletricidade</h3>
            </div>
        </div>
        <section class="Projetos">
            <div class="row fonte-color">
                <div class="col-lg-12 col-md-12">
                    <h3 class="pagina-inicial-sub">
                        Conheça alguns dos nossos projetos
                    </h3>
                </div>
            </div>
            <div class="row card-centro">
                <div class="col-lg-4 col-md-6 cards">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/p1.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                          <h5 class="card-title">Columbus</h5>
                          <p class="card-text">Localizado na Vila Olímpia, Columbus e um condomínio cuja e eletrica foi feita por nossos profissionais</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-md-6 cards">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/p2.png" alt="Imagem de capa do card">
                        <div class="card-body">
                          <h5 class="card-title">Remy</h5>
                          <p class="card-text">Localizado na Vila Olímpia, Remy e um condomínio cuja e eletrica foi feita por nossos profissionais</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-md-6 cards">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="assets/p3.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                          <h5 class="card-title">Carriage House</h5>
                          <p class="card-text">Localizado na Vila Olímpia, Carriage House e um condomínio cuja e eletrica foi feita por nossos profissionais</p>
                          
                        </div>
                      </div>
                </div>
            </div>
        </section>

        <section class="Servicos">
            <div class="row fonte-color">
                <div class="col-12">
                    <h2 class="Servicos-title">SERVIÇOS:</h2>
                </div>
            </div>
            <div class="row card-centro">
                <div class="col-xl-4 col-lg-4 col-md-6 cards">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-mid" src="assets/s1.webp" alt="Imagem de capa do card">
                        <div class="card-body">
                          
                          <a routerLink="Laudos" class="btn btn-primary">PROJETOS E LAUDOS</a>
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 cards">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-mid" src="assets/s2.webp" alt="Imagem de capa do card">
                        <div class="card-body">
                          
                          <a routerLink="Instalações" class="btn btn-primary">INSTALAÇÕES EM BAIXA TENSÃO</a>
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 cards">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-mid" src="assets/s3.webp" alt="Imagem de capa do card">
                        <div class="card-body">
                          
                          <a routerLink="Instalações" class="btn btn-primary">INSTALAÇÕES EM MÉDIA TENSÃO</a>
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 cards">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-mid" src="assets/s4.webp" alt="Imagem de capa do card">
                        <div class="card-body">
                          
                          <a routerLink="Instalações" class="btn btn-primary">SISTEMAS SPDA</a>
                        </div>
                      </div>
                </div>
                
            </div>
        </section>



        <section class="clientes">
            <div class="row fonte-color">
                <div class="col-lg-12 col-md-12">
                    <h2 class="clientes-title">CLIENTES:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-2 col-sm-2 col-4 cards"><img class="img" src="assets/1.webp" alt=""></div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-4 cards"><img src="assets/2.webp" alt=""></div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-4 cards"><img src="assets/3.webp" alt=""></div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-4 cards"><img src="assets/4.webp" alt=""></div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-4 cards"><img src="assets/5.webp" alt=""></div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-4 cards"><img src="assets/6.webp" alt=""></div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-4 cards"><img src="assets/7.webp" alt=""></div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-4 cards"><img src="assets/8.webp" alt=""></div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-4 cards"><img src="assets/9.webp" alt=""></div>
                <div class="col-lg-1 col-md-2 col-sm-2 col-4 cards"><img src="assets/10.webp" alt=""></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-4 cards"><img src="assets/11.webp" alt=""></div>
            </div>
        </section>
    </div>
    <br><br>
</section>