<section class="fale-conosco"> 
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12 cards">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/k1.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Endereço</h5>
                      <p class="card-text">Avenida George Anselmi - Guarapiranga, São Paulo - SP</p>
                    </div>
                  </div>

            </div>

            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12 cards">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/k2.png" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Contatos</h5>
                      <p class="card-text">Para mais informações entre em contato com nossa equipe</p>
                      <p>Email: Santiagomar@hotmail.com.br</p>
                      <p>Telefone: XXXXX-XXXX</p>
                    </div>
                  </div>

            </div>

            <div class="col-12 col-xl-4 col-lg-6 col-md-6 col-sm-12 cards">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/k3.jpeg" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">área cobertura</h5>
                      <p class="card-text">Projetos, Laudos e Serviços em geral: Toda São Paulo-SP</p>
                    </div>
                  </div>

            </div>
        </div>
    </div>
    <br><br>
</section>
